<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= "#{current_page.data.title} - " if current_page.data.title %>Fred Med Jorden</title>
        <meta name="description" content="Stiftelsen FRED MED JORDEN skall stimulera och stödja personer, i första hand kvinnor, som yrkesmässigt driver jordbruk eller handelsträdgård">
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="//use.typekit.net/wiw7xkf.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <%= favicon_tag 'favicon.ico' %>
        <%= stylesheet_link_tag 'normalize','main','base','facybox' %>
        <%= javascript_include_tag 'modernizr' %>
    </head>
    <body class="<%= current_page.data.body_class%>">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

      <div id="wrapper">
        <div id="page-header">
          <!-- <div class="logo"> -->
          <!--   <a href="/"><img src="/_img/loggasvv.gif" alt="Fred Med Jorden Logo" title="Fred med Jorden"></a> -->
          <!-- </div> -->
          <div id="page-menu">
            <ul>
              <li class="aktuellt"><%= link_to "Aktuellt", "/aktuellt" %></li>
              <li class="historia"><a href="/historia/">Historia</a></li>
              <li class="stipendiater"><a href="/stipendiater/">Stipendiater</a></li>
              <li class="logo"><a href="/"><%= image_tag "logo-menu.png" %></a></li>
              <li class="rapporter"><a href="/rapporter/">Rapporter</a></li>
              <li class="styrelsen"><a href="/styrelsen/">Styrelsen</a></li>
              <li class="ansok"><a href="/ansok/">Ansök</a></li>
            </ul>
          </div>
        </div>
        <div id="page-content">
          <%= yield %>
        </div>
        <div id="page-footer">
          Flory Gates Stiftelse, Fred med Jorden 2012
        </div>
      </div>
      <%= javascript_include_tag "main" %>
      <script type="text/javascript">
        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '4f5e59b8613f5d497c00005f');
          t.src = '//secure.gaug.es/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-149323-13']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    </body>
</html>
