---
title: Stipendiater
body_class: stipendiater
---
# Stipendiater

<div class="years">
<% 2015.downto(1990).collect do |i| %>
  <a href="#<%=i%>"><%=i%></a>
<% end.join %>
</div>

Stipendiaterna har, enligt v&aring;ra bed&ouml;mningar, v&auml;l fungerande
ekologiska lantbruksf&ouml;retag. Dessutom &auml;r alla engagerade f&ouml;r
att p&aring; olika s&auml;tt f&ouml;ra ut id&eacute;erna med ekologiskt lantbruk.

<%= stipendiat_year_tag(2015) %>

Årets fyra stipendiater har olika typer av företag med även olika inriktningar. Stipendiesumman är en delfinansiering till stipendiaternas planerade projekt och en uppmuntran till en duktig företagare.

Vi fortsätter att stödja Ekeby Forskningsgård, där  Kristina Belfrage forskar på att utveckla ett småskaligt ekologiskt lantbruk genom ett projekt om hur mjölkens hälsoeffekter kan påverkas..

Detta år har 73 000 kr fördelats till följande personer för utveckling av deras företag och till forskning om att hur olika faktorer kan påverka mjölkens hälsoeffekter.

**Anneli Öhman, Öhmans Lantbruk / Östanö skafferi, Noraström**
Företaget omfattar såväl jord- och skogsbruk och köttdjur som rabarberodling och förädling.  Gården har gått i arv i 10 generationer.  Anneli får stipendium för att  utveckla sitt produktionskök och därmed även kunna hjälpa andra producenter med förädling av sina produkter.  <a href="http://www.ostano.se">www.ostano.se</a>

**Maria Danielsson, Rikkenstorp tourism and nature, Grängesberg**
Gårdens syfte är bla. att bedriva forskning om hållbara småskaliga gårdar med diversifierad verksamhet som även ska vara ekonomiskt hållbara. Maria får stipendium för att starta upp en småskalig äggproduktion men också en mycket småskalig köttproduktion ( tuppkycklingar och äldre höns). Detta projekt kommer att följas upp och utvärderas av Örebro universitet. <a href="http://www.rikkenstorp.se">www.rikkenstorp.se</a>

**Rebecka Törnqvist, Hälsingbo Skogsträdgård HB, Stjärnsund**
Företaget omfattar en skogsträdgård med fleråriga grönsaker och vedartade växter  men även växthus och odlingsbäddar. Överskott av grönsaker säljs på Stjärnsunds lokal bruksmarknad. Rebecka får stipendium för att utveckla odlingen genom att installera ett droppbevattningsystem som drivs med el från en solcell. Detta för att försörja växthus och odlingsbäddar med nödvändigt vatten.

**Maja Södergberg, Nybrukarna Ekonomiska förening, Tolg**
Nybrukarna är en nystart odlarförening  i Florys hemtrakter, därav görs detta undantag. (vanligtvis ges inte stipendium till nystartade företag). 6 personer odlar på olika plaster i närheten av Tolg  och de sköter odlingarna, förädlar och säljer gemensamt. Maja och föreningen får stipendium för inköp och byggnation av en stor kompost, som kan ta hand om komposterbart avfall från byns lanthandel och Pannkakashuset i Tolg. <a href="http://www.nybrukarna.se">www.nybrukarna.se</a>

Stipendium till forskningsändamål

**Kristina Belfrage, F:a Kristin Belfrage, Ekeby Forskningsgård, Norrtälje**
Får stipendium för tredje året och i år för att  undersöka olika faktorer som kan påverka mjölkens hälsoeffekter. Fyra besättningar med fjällkor ska följas upp vad det gäller foderstat, besättnigarnas storlek samt diperiodens längd och hur detta påverkar mjölkens innehåll av proteiner (kaseiner). Fjällkornas mjölk skiljer sig genetiskt från produktionsraserna vad gäller bl.a. kaseiner som påverkar ostutbyte och mjölkallergier. <a href="www.ekebyresearchfarm.se">www.ekebyresearchfarm.se</a>

<%= stipendiat_year_tag(2014) %>

Detta år har 72 000 kr fördelats till följande personer för utveckling av deras företag och till forskning om att utveckla skogsbete.

**Boel Åkesson, Änglarp Lugn, Röke**   
får stipendium för att utveckla företagets genom att bygga ett växthus för att driva upp plantor och odla grönsaker i. Tiden därutöver ska växthuset användas till rehabiliteringsverksamhet. Företaget har tre inriktningar: lammproduktion, taktil massage-behandling samt NUR (naturunderstödd rehabilitering). <a href="http://www.anglarpslugn.se">www.anglarpslugn.se</a>

**Helena N Olofsson, Högalunds Kulturvandring & Lantbruk, Hörby**   
får stipendium för att utveckla företaget genom att inreda det gamla grisstallet, för att kunna ta emot gäster som gör en vandringen med bildvisning. Företaget är inriktat på köttdjuruppfödning och kulturvandringar i naturbetesmarker, bokskog m.m.. <a href="http://www.kulturvandring.se">www.kulturvandring.se</a>

**Malin Schreiber, Peterslunds Eko Odling, Björnlunda**   
får stipendium för att utveckla företaget genom inköp av mjölksyrningsföretaget ”Järna Syrat”. Företagets – Peterslunds Eko Odling - odlar grönsaker på friland och i växthus samt förädlar produkterna genom småskalig mjölksyrejäsning, som nu ska skalas upp. <a href="http://www.ekoodling.se">www.ekoodling.se</a>

**Kristina Belfrage, Ekeby Forskningsgård, Norrtälje**   
får stipendium för andra året av projektet ”Husdjurens och de vilda djurens ekosystemtjänster – ett verktyg i det småskaliga ekologiska lantbruket”, med syfte att minska arbets – och energiåtgången i lantbruket. 
Tips: <a href="http://www.svt.se/nyheter/sverige/lat-allt-lantbruk-bli-ekologiskt">titta på intervju med Kristina</a>

<%= stipendiat_year_tag(2013) %>

Detta år har 127 000 kr fördelats till följande personer för utveckling av deras företag och till forskning om att utveckla skogsbete.

**Inge Schwagermann, Marcello´s farm – Ugerupsdal, Marcello´s farm – Ugerupsdal, Kristianstad**   
Får stipendium för att utveckla företagets lokala försäljning genom inköp av certifierade våg, marknadsstånd och skylt. Inge och hennes man Marcello har ett expansivt ekologiskt/biodynamiskt företag i östra Skåne med grönsaksodling i stor och liten skala samt nötkreatur. 

**Karin Sjöstedt, Hornuddens Trädgård, Strängnäs**   
Får stipendium för att utveckla företaget genom att utöka odlingen under plast genom ny platsfolie till en befintliga plasttunnelsstomme. Karin och hennes man Mats driver ett expansivt grönsaksodlingsföretag med fokus på tomater samt en restaurang.

**Sofia Asplund, Lädja, Knapagård, Lammhult***   
Får stipendium för att utveckla företaget genom hjälp till omstängsling av hagar, där det därefter ska finnas betande djur av lantraser. 
Sofia har med hjälp av sin man ett lantbruk enligt permakultur-principer under utveckling. 

**Kerstin Björklund, Warbo Kvarn AB, Sköldinge**   
Får stipendium till utvecklingen av företagets kvarnverksamhet genom att bygga ett torkrum för fling- och pasta-produktion. Warbo kvarn AB är ett expansivt företag med nytänk med bl.a. gamla kulturgrödor i nära anslutning i det ekologiska lantbruket på Linds Gård. 

**Anette Isacsson, Valtersten El & lantbruk, Vikbolandet**   
Får stipendium för näringsanalys på skrädmjölet av svarthavre. På gården som Anette driver tillsammans med sin man odlas svarthavre, vete, åkerbönor och vall för hästfoder. Dessutom finns en ekologisk fruktodling.

**Ylvali Falk, Hjärpalyckan, Bergsnäs, Lönashult**   
Får stipendium för utveckla företaget genom inköp av bisamhälle och honungspress. Ylvali driver tillsammans med sin sambo ett lantbruk enligt principen för permakultur där det gamla kulturlandskapet återskapas och gärdsgårdar byggs..

**Anna-Karin Eriksson, Sunnansjö gård, Nordmaling**   
Får stipendium till att utveckla företaget genom inköp av flyttbara vindskyddshyddor för gårdens nötkreatur. Anna-Karin är den 9:e generationen att bruka denna gård. Förutom köttproduktion är landskapsvård grundbulten i företaget. 

Stipendium till forskningsändamål

**Sheshti Johansson, Ekeby Forskningsgård, Norrtälje**   
Får stipendium för att genomföra en pilotstudie om att iordningställa mark för skogsbete. Även Skogsstyrelsens medverkar i detta projekt. Stipendiet ska täcka arbetstid för hästförare samt dokumentation och sammanställande  av resultaten.

<%= stipendiat_year_tag(2012) %>

Detta år har 115 000 kr fördelats till följande personer för utveckling av deras företag .

**Eva Gustavsson, Solsyran, Orsa**   
stipendiat även 1991  –  har ett företag i Orsa med grönsaksodling på friland och i kallväxthus samt förädling av grönsaker genom mjölksyrning.  Eva odlar också tillsammans med barn på en skola och ett daghem. Hon får stipendium för att utveckla sitt företag genom att färdigställa en besöksträdgård.   

[Solsyran](http://www.solsyran.se)

**Sofia Hidling , Möckleryds Gård, Torhamn**   
stipendiat även 1998  - har en mindre grönsaksodling parallellt med sitt jobb djurskötare. Hon har även en gårdsbutik och hon får stipendium för att utveckla sitt företaget, Trollgrönt, genom renovering av lokalen för gårdsförsäljning samt inköp av begagnad kyl.   

<a href="http://www.trollgront.se">Trollgrönt</a>

**Mia Jonsson, Lilla Labäck, Lidköping**   
stipendiat 2007 – startade med en sparrisodling som har växt ut till att bli en större grönsaksodling med växthus, packhall och även ett förädlingskök. Mia får stipendium för att utveckla företaget genom hjälp till inventarier till grönsaksodlingen.   

<a href="http://www.lillalaback.se">Lilla Labäck</a>

**Katarina Molitor, Ändbolsgård, Bettna**   
stipendiat 2007 – har en gård med inriktning på i huvudsak köttdjur (dikor och får) samt växthusodling. Stipendiet ska gå till att utveckla företaget genom hjälp till inköp av energiväv i växthuset samt avhärdare till vattnet för växthusbevattning.   

<a href="http://www.andebolsgard.se">Ändebols Gård</a>

**Kerstin Brodin, Bäck, Unnaryd**   
stipendiat 2007- har en gård med djur och växtodling som satsat på förädling av spannmål genom ett stenugnsbageri. Stipendiet ska användas till  att utveckla företaget genom anläggning och utveckling av besöksträdgården.   

<a href="http://www.backhasten.se">Bäckhästen</a>

**Susanne Lundberg, Gödeby, Ullared**   
stipendiat 2011 – har en grönsaks- och kryddodling på friland och i växthus. Susanne satsar nu på att utveckla företaget Källdalen med att bygga om ladugården för att kunna förädla och packa sina produkter Hon får stipendium som hjälp till att utveckla företaget genom ombyggnad av ladugård.   

<a href="http://www.kalldalen.se">Källdalen</a>

**Helén Markow, Hishult**   
odlar grönsaker på friland och plantor i växthus sedan 2006 och har en gårdsbutik. Helén får stipendium för inköp av fruktträd och bärbuskar till den trädgård som också kommer att bli besöksträdgård.   

<a href="http://www.gronsaker-skonsaker.com">Grönsaker &amp; Skönsaker</a>


Därtill har 30 000 kr reserverats för ett forskningsprojekt.

<%= stipendiat_year_tag '2011' %>

Detta &aring;r har 110 000 kr f&ouml;rdelats till f&ouml;ljande personer f&ouml;r utveckling av deras f&ouml;retag eller till forskning. 

**Kristina Belfrage, Ekeby Forskningsg&aring;rd;Uppland**   
f&aring;r forskningsstipendium f&ouml;r att utveckla l&auml;ttare och anv&auml;ndarv&auml;nliga redskap f&ouml;r mindre h&auml;straser att anv&auml;ndas i gr&ouml;nsaks- och b&auml;rodlingar samt odling av nischgr&ouml;dor s&aring;som &ouml;rter. De som har denna typ av odling &auml;r inte s&auml;llan kvinnliga lantbrukare och fler av dem anv&auml;nder mindre h&auml;straser redan idag. 

**Eva Enderlein, Stenliden Tr&auml;dg&aring;rd, Bullaren;  Bohusl&auml;n**   
driver tillsammans med sin man ett tr&auml;dg&aring;rdsjordbruk d&auml;r de odlar allehanda gr&ouml;nsaker. Handarbete v&auml;rderas h&ouml;gt och &aring;tg&aring;ngen av fossilt br&auml;nsle &auml;r l&aring;gt.  F&ouml;r att utveckla f&ouml;retaget och s&auml;kra sk&ouml;rd och kvalit&eacute; &auml;ven under torr&aring;r,  f&aring;r Eva stipendium, f&ouml;r att bygga en damm f&ouml;r bevattnings&auml;ndam&aring;l.

**Anette Isacsson,Valtersten, Mellang&aring;rd, Vikbolandet; &Ouml;sterg&ouml;tland**   
&auml;r en del av f&ouml;retaget Valtersten El &amp; Lantbruk som bedriver diversifierad verksamhet med fr&auml;mst ekologisk odling av spannm&aring;l och frukt.  Anette f&aring;r stipendium f&ouml;r hj&auml;lp till ink&ouml;p av rensmaskin och d&auml;rtill n&ouml;dv&auml;ndigt lagerutrymme f&ouml;r att kunna utveckla f&ouml;rs&auml;ljningen av skr&auml;dmj&ouml;l och havre fr&aring;n g&aring;rden.

**Martina Olsson, Fruem&ouml;llev&auml;gen, Klippan; Sk&aring;ne**   
driver tillsammans med sin man Fruem&ouml;llans B&auml;r, ett litet familjef&ouml;retag som odlar och utvecklar odlingen av delikatessb&auml;r. B&auml;ren som odlas &auml;r hallon, jordgubbar, bj&ouml;rnb&auml;r och havtorn. En del av b&auml;ren f&ouml;r&auml;dlas till sylt/marmelad och dryck. Martina f&aring;r stipendium f&ouml;r att utveckla f&ouml;retaget genom  byte av plast p&aring; v&auml;xthustunneln d&auml;r hallon odlas. 

**Hanna Rydstr&ouml;m, Lov&ouml; Pr&auml;stg&aring;rd, Drottningsholm**   
&auml;r en del av familjef&ouml;retaget Lov&ouml; Pr&auml;stg&aring;rd som har ekologisk mj&ouml;lkproduktion och som &auml;ven &auml;r en bes&ouml;ksg&aring;rd (genom Arla) f&ouml;r skolbarn. Hanna f&aring;r stipendium f&ouml;r att  delta i en semin&ouml;r-kurs. Detta f&ouml;r att f&aring; anv&auml;ndbar kunskap f&ouml;r att utveckla familjef&ouml;retaget. 

**Susanne Lundberg, K&auml;lldalen, G&ouml;deby, Ullared; Halland**   
&auml;r en del av jordbruks- och tr&auml;dg&aring;rdsf&ouml;retaget K&auml;lldalens Tr&auml;dg&aring;rdar. De odlar gr&ouml;nsaker (f&ouml;r avsalu) i v&auml;xthus och p&aring; friland. Susannes planer &auml;r att satsa p&aring; att utveckla f&ouml;retaget genom vidarf&ouml;r&auml;dling av de odlade produkterna och f&aring;r stipendium f&ouml;r delfinansiering f&ouml;r ombyggnation av djurstall till grovk&ouml;k, beredningsk&ouml;k och tr&auml;dg&aring;rdsverkstad. 

<%= stipendiat_year_tag '2010' %>

Detta &aring;r har 59 000 kr f&ouml;rdelats till f&ouml;ljande personer f&ouml;r utveckling av deras f&ouml;retag. 

**Kerstin Bj&ouml;rklund, Linds G&aring;rd, 640 24 Sk&ouml;ldinge**   
driver sedan 20 &aring;r Linds G&aring;rd, ett ekologiskt lantbruk med v&auml;xtodling och dikouppf&ouml;dning samt stuteri, tillsammans med sin man Hon &auml;r vd i Warbo kvarn AB  och ordf&ouml;rande i S&ouml;rmlands Matkluster.  Hon tilldelas ett stipendium f&ouml;r att utveckla lantbruket och arbetet med gamla kulturspannm&aring;lssorter genom att bygga s&auml;cksilon f&ouml;r torknig av de olika sorterna.


**Cilla Engstr&ouml;m, F&auml;ran&auml;s, 342 52 Vislanda**   
har en modern ekologisk mj&ouml;lkg&aring;rd som hon driver tillsammans med sin man. Cilla &auml;r en aktiv f&ouml;reningsm&auml;nniska p&aring; m&aring;nga s&auml;tt och har  bla. varit med om att starta upp Slowfood V&auml;rend. Hon tilldelas ett stipendium f&ouml;r att utveckla f&ouml;retaget genom att investera i en industribakugn, f&ouml;r bakning av ostkakor.


**Maria Karlsson, M&auml;llby lantg&aring;rd, Vallahedsv&auml;gen 56, 471 72 Hj&auml;lteby**    
har ett sm&aring;skaligt ekologiskt lantbruk med &auml;ggproduktion, gr&ouml;nsaksodling samt ett gluten- och mj&ouml;lkfritt bageri. Maria &auml;r ordf&ouml;rande i F&ouml;reningen f&ouml;r ekologisk fj&auml;derf&auml;produktion och varit en av initiativtagarna till f&ouml;reningen &rdquo;Bohusl&auml;n  Erbjuder&rdquo; med handelsbod p&aring; Sundsby s&auml;teri. N&auml;tverket Tj&ouml;rnodlat med eget varum&auml;rke har hon ocks&aring; varit med om att starta upp. Maria tilldelas ett stipendium f&ouml;r att utveckla sitt f&ouml;retag genom att  installera solv&auml;rmepumpar i h&ouml;nshusen.


**Eva Eriksson, Evas Tr&auml;dg&aring;rd, L&ouml;vsj&ouml; 103, 89493 &Ouml;verh&ouml;rn&auml;s**   
Evas Tr&auml;dg&aring;rd &auml;r ett f&ouml;retag med gr&ouml;nsaksodling och f&ouml;r&auml;dling av gr&ouml;nsakerna samt biodling. Hon tilldelas ett stipendium som uppmuntran och hj&auml;lp att utveckla f&ouml;retaget med investering f&ouml;r sm&auml;ltning, rensning och pr&auml;gling av nya vaxkakor.

**Veronica Svensson, Baramossa g&aring;rd, 312 97 Laholm**   
Veronica har ett lantbruksf&ouml;retag med n&ouml;tk&ouml;ttsproduktion samt gr&ouml;nsaks-, b&auml;r &ndash; och fruktodling. Hon tilldelas ett stipendium f&ouml;r att utveckla sitt f&ouml;retag genom att iordningst&auml;lla av befintligt &rdquo;mj&ouml;lkrum&rdquo; f&ouml;r att bli godk&auml;nda f&ouml;r att f&aring; l&auml;mna ut lammk&ouml;tt direkt till kund.


**Madeleine Lindqvist, Stor&aring; B&auml;r och Gr&ouml;nsaker , Ingelshyttan, Brunstorp 311, 711 97 Stor&aring;n**   
driver tillsammans med sin man en ekologisk b&auml;r- och gr&ouml;nsaksodling. Hon tilldelas ett stipendium  som uppmuntran och hj&auml;lp f&ouml;r att vidareutveckla f&ouml;retaget  genom att investera i en gasolbr&auml;nnare.

D&auml;rtill 15 000 kr reserverats f&ouml;r ett forskningsprojekt.

<%= stipendiat_year_tag '2009' %>

Detta &aring;r har 110 000 kr f&ouml;rdelats till f&ouml;ljande personer
f&ouml;r utveckling av deras f&ouml;retag och/eller utveckla det ekologiska
lantbruket. 

**Satu Nenonen, Lindsbro Tr&auml;dg&aring;rd, &Ouml;sterv&aring;la**   
Tilldelas stipendium som hj&auml;lp till att utveckla f&ouml;retaget
genom att bygga ett kallv&auml;xthus. Satu driver, tillsammans med sin
man, Lindsbro Tr&auml;dg&aring;rd d&auml;r de odlar gr&ouml;nsaker och
har f&ouml;der upp lamm.


**Paula H Wid&eacute;n, Tanumshede**   
Tilldelas stipendium som hj&auml;lp till att utveckla odlingsf&ouml;retaget
med ett v&auml;xthus. Paula har startat flera f&ouml;retag bl.a. Wid&eacute;n
G&aring;rden HB som odlar och f&ouml;r&auml;dlar b&auml;r med fokus p&aring; havtorn.
<a href="http://www.wideum.se" target="_blank">  www.wideum.se</a>


**Charlotte Norrman-Oredsson, Skea G&aring;rd, H&auml;ssleholm**   
Tilldelas stipendium som hj&auml;lp till att utveckla lantbruksf&ouml;retaget
med en ny g&aring;rdsbutik. Charlotte har tillsammans med sin man en
skogs &#8211; och v&auml;xtodlingsg&aring;rd med ekologisk &auml;ggproduktion.
Charlotte tillh&ouml;r pionj&auml;rerna inom ekologiskt lantbruk. Hon
har gjort och g&ouml;r mycket f&ouml;r att sprida information om det.
<a href="http://www.skeagard.se" target="_blank">  www.skeagard.se</a>


**Eva von Heideken, Fr&auml;kentorp s&auml;teri, Malmk&ouml;ping**   
Tilldelas stipendium som hj&auml;lp f&ouml;r att utveckla lantbruksf&ouml;retaget
och den befintliga biogasanl&auml;ggningen med ett gasdrivet elverk.
Driver tillsammans med sin man en ekologisk mj&ouml;lkkog&aring;rd och
har dessutom gr&ouml;nsaksodling. <a href="http://www.frakentorp.se" target="_blank">www.frakentorp.se</a>

**Gunilla Strand&aring;, Havtornsg&aring;rden, M&ouml;rbyl&aring;nga**   
Tilldelas stipendium som hj&auml;lp f&ouml;r att utveckla f&ouml;retaget
med ett f&ouml;r&auml;dlings- och caf&eacute;k&ouml;k. Gunilla driver
tillsammans med sin man b&auml;r- och gr&ouml;nsaksproduktionen. Sedan
fem &aring;r tillbaka sk&ouml;rdar de havtorn fr&aring;n egen odling
och det &auml;r framf&ouml;rallt dessa produkter som ska f&ouml;r&auml;dlas
i eget f&ouml;r&auml;dlingsk&ouml;k. Gunilla och hennes man tillh&ouml;r
pionj&auml;rerna inom ekologiskt lantbruk. Hon har gjort och g&ouml;r
mycket f&ouml;r att sprida information om det. <a href="http://www.strandaeko.se" target="_blank">www.strandaeko.se</a>

<%= stipendiat_year_tag '2008' %>

Detta &aring;r
har 150 000 kr f&ouml;rdelats till f&ouml;ljande personer
f&ouml;r utveckling av deras f&ouml;retag och/eller utveckla det ekologiska
lantbruket.

**Veronica Svensson, Laholm**   
&#8211; Veronica har en mindre g&aring;rd med ekologisk n&ouml;tk&ouml;ttsproduktion. &Ouml;nskar
ut&ouml;ka verksamheten med gr&ouml;nsaksodling, blomster &#8211; och frukt
- och b&auml;rodling. Tilldelas stipendium f&ouml;r utveckling av f&ouml;retagets
verksamhet genom ink&ouml;p av v&auml;xthus och b&auml;rbuskar

**Harg Odlarna,
IngMarie och Ann-Sofi Johansson, Kisa**   
&#8211; IngMarie och Ann-Sofi har ett f&ouml;retag har fyra delar
1) b&auml;rodling med f&ouml;r&auml;dling, 2) KRAV-&auml;ggproduktion, 3)
speltodling och 4) &ouml;ppen verksamhet med g&aring;rdsbutik. Tilldelas
stipendium f&ouml;r utveckling av f&ouml;retaget genom att bygga ut g&aring;rdsbutiken. <a href="http://www.hargodlarna.se" target="_blank">www.hargodlarna.se</a>

**Karin Sj&ouml;stedt, Asp&ouml;, Hornudden, Str&auml;ngn&auml;s**   
&#8211; Karin har ett ekologiskt lantbruksf&ouml;retag med inriktning fr&auml;mst
p&aring; v&auml;xthusgr&ouml;dor Tilldelas stipendium f&ouml;r sammanst&auml;llning
av obearbetade resultat (fr&aring;n tidigare &aring;rs tomatf&ouml;rs&ouml;k)
fr&aring;n genomf&ouml;rda konsumentester p&aring; smak i kombination med
jordanalyser. <a href="http://www.hornudden.net" target="_blank">www.hornudden.net</a> 

**Carina Dalunde, M&ouml;lnbo**   
&#8211; Carina driver ett ekologiskt jordbruk tillsammans med sin man. De odlar spannm&aring;l
och oljev&auml;xter samt lammproduktion.. Carina har ocks&aring; f&ouml;retaget
Norra Stene Skafferi som odlar och f&ouml;r&auml;dlar en del av g&aring;rdens
produkter. Tilldelas stipendium f&ouml;r att utveckla f&ouml;retaget genom
att bygga ett v&auml;xthus av l&auml;rktr&auml;d och glas som en del av en
visningstr&auml;dg&aring;rd. 


**Ingela L&ouml;fquist, Kristianstad**   
&#8211; Ingela driver ett ekologiskt lantbruk med n&ouml;t &#8211; och lammproduktion. Hon &aring;r
ocks&aring; r&aring;dgivare inom ekologisk produktion p&aring; Hush&aring;llningss&auml;llskapet.
Tilldelas stipendium f&ouml;r att g&ouml;ra en studeresa till Irland f&ouml;r
att utveckla den ekologiska k&ouml;ttdjurproduktionen genom att studera vall &#8211; och
betesbaserad produktion. 


**Ebba-Maria Olson, Veber&ouml;d**   
&#8211; Ebba-Maria driver f&ouml;retaget Mossag&aring;rden eko ab, med gr&ouml;nsaksodling och
digitaliserad e-handel f&ouml;r ekologiska livsmedel och ett prenumerationskoncept.
Tilldelas stipendium till hj&auml;lp f&ouml;r att utveckla f&ouml;retaget
genom att bygga en biogasanl&auml;ggning, f&ouml;r att knyta samman kretsloppet
och f&aring; milj&ouml;v&auml;nligare transporter.<a href="http://www.hornudden.net" target="_blank"> www.mossagarden.se</a>

<%= stipendiat_year_tag '2007' %>

Detta &aring;r har 109 000 kr f&ouml;rdelats till f&ouml;ljande personer
f&ouml;r utveckling av deras f&ouml;retag och ett stipendium till forskning/f&ouml;rs&ouml;k
(Karin Sj&ouml;stedt):


**Camilla Wolgers, &Aring;tg&aring;rden, &Ouml;hn, Str&ouml;msund**   
&#8211; har ett sm&aring;skaligt lantbruksf&ouml;retag p&aring; tre ben: lantbruk, museum &#8211; bes&ouml;ksg&aring;rd
och &#8221;kalaskokeri&#8221;. Stipendiet ges f&ouml;r din m&aring;linriktade
satsning p&aring; att utveckla ditt ekologisk lantbruk genom hj&auml;lp till
bygget av ett v&auml;xthus.


**Elisabeth Hansson, Bj&auml;rhus, Klippan**   
&#8211; har ett ekologiskt lantbruk med inriktning p&aring; gr&ouml;nsaksodling, lammproduktion,
g&aring;rdsbutik, charkuteri, f&ouml;r&auml;dlingsk&ouml;k och plats f&ouml;r
konferenser/kurser. Stipendiet ges f&ouml;r hennes m&aring;linriktade satsning
p&aring; att utveckla detta ekologiska lantbruk genom hj&auml;lp till bygge
av ett f&aring;rstall. <a href="http://www.bjarhus.se" target="_blank">www.bjarhus.se</a>


**Karin Sj&ouml;stedt, Asp&ouml;, Hornudden, Str&auml;ngn&auml;s**   
&#8211; har ett ekologiskt lantbruksf&ouml;retag med inriktning fr&auml;mst
p&aring; v&auml;xthusgr&ouml;dor.
Karin tilldelas stipendium tillsammans med Britt-Inger Nilsson, Senneby,
V&auml;dd&ouml; och Jenny Lindstr&ouml;m, Torstuna Tibble, Fj&auml;rdhundra
som bidrag till fortsatt forskning och utveckling av den ekologiska tomatodlingen
f&ouml;r att f&aring; fram b&auml;sta m&ouml;jliga smak. Denna forskning
m&ouml;jligg&ouml;rs genom ett v&auml;l fungerande samarbete med andra ekologiska
tomatodlare och r&aring;dgivare. En forts&auml;ttning p&aring; f&ouml;rra &aring;rets
forskning. <a href="http://www.hornudden.net" target="_blank">www.hornudden.net </a>


**Katarina Molitor, &Auml;ndebols g&aring;rd, Bettna**   
&#8211; har ett ekologiskt lantbruksf&ouml;retag med inriktning
p&aring; k&ouml;ttdjur,
tomatodling och g&aring;rdsbutik. Stipendiet ges f&ouml;r hennes m&aring;linriktade
satsning p&aring; att utveckla detta ekologiska lantbruk genom i f&ouml;rsta
hand hj&auml;lp att investera i ett kylrum f&ouml;r tomater och andra gr&ouml;nsaker.
<a href="http://www.andebolsgard.se" target="_blank">www.andebolsgard.se</a>


**Kerstin Brodin, B&auml;ck, Unnaryd**
&#8211; har ett ekologiskt sm&aring;bruk &#8211; B&auml;ckh&auml;sten &#8211; med m&aring;nga olika djurslag, turridning, bageri, sommarcaf&eacute; och en g&aring;rdsbutik
under uppbyggnad. Stipendiet ges f&ouml;r hennes m&aring;linriktade satsning
p&aring; att
utveckla detta ekologiska lantbruk genom hj&auml;lp till att bygga upp ett
redan ink&ouml;pt begagnat v&auml;xthus. <a href="http://home.swipnet.se/backhasten/" target="_blank">http://home.swipnet.se/backhasten/</a>


**Mia Jonson, Lilla Lab&auml;ck. Lidk&ouml;ping**   
&#8211; har ett litet ekologiskt lantbruk med odling av sparris, hallon, smultron och
rabarber med utvecklingsplaner runt dessa gr&ouml;dor med fokus p&aring; sparris.
Stipendiet ges f&ouml;r hennes m&aring;linriktade satsning p&aring; att utveckla
detta ekologiska lantbruk genom hj&auml;lp till bygge av v&auml;xthus. Hemsida
via <a href="http://www.sparrisivast.se" target="_blank">www.sparrisivast.se</a>


**Tua Hurtig Wigforss, Tuacultura, Vesene Fagered, Ljung**   
&#8211; har ett f&ouml;retaget, Tuacultura, som best&aring;r av gr&ouml;nsaksodling,
f&aring;r o h&ouml;ns, g&aring;rdsbutik och br&ouml;dkurser runt den vedeldade
bakugn. Stipendiet ges f&ouml;r hennes m&aring;linriktade satsning p&aring; att
utveckla detta ekologiska f&ouml;retag genom hj&auml;lp till ink&ouml;p av
n&aring;gon maskin f&ouml;r ogr&auml;sreglering i gr&ouml;nsaksodlingen.
Hemsida via<a href="http://www.vastgotalandet.se" target="_blank"> www.vastgotalandet.se</a>

Stipendiaterna f&aring;r f&ouml;rutom pengarna, b&ouml;ckerna Fred med Jorden
och V&auml;ckarklocka av Elin W&auml;gner. N&aring;gra av &aring;rets stipendiater
har tidigare tilldelats stipendium fr&aring;n stiftelsen Fred med Jorden,
de f&aring;r d&aring; ist&auml;llet boken Hemvisst f&ouml;r mitt dubbeljag
av Elisabet Hermodsson. 

<%= stipendiat_year_tag '2006' %>

**&Aring;sa Lindqvist, Hemse, Gotland**   
Driver tillsammans med sin man
ett ekologiskt lantbruk med inriktning p&aring; frilandsgr&ouml;nsaker och
potatis. &Aring;sa tilldelas stipendium f&ouml;r att utveckla sitt f&ouml;retag
genom ink&ouml;p av en maskin f&ouml;r sortering av rotfrukter. 

**Lisbeth Andersson, Stehag, Sk&aring;ne**   
Har tillsammans med sin familj
ett ekologiskt lantbruk, som tills helt nyligen hade inriktning p&aring; mj&ouml;lkproduktion.
Lisbeth tilldelas stipendium f&ouml;r att utveckla ekologisk k&ouml;ttproduktionen
p&aring; g&aring;rden. Ett uth&aring;lligt lantbruksf&ouml;retag som drivits
ekologiskt i &ouml;ver 30 &aring;r! 


**Helena Ullmark, Br&ouml;sarp, Sk&aring;ne**   
Har tillsammans med sin man ett ekologiskt lantbruk med inriktning p&aring; odling,
lantraser, lantsorter och landskapsv&aring;rd . Helena tilldelas stipendium
f&ouml;r att utveckla
lantbruket f&ouml;r att kunna ta emot praktikanter, boendes p&aring; g&aring;rden.

**Lena Karlsson, Urshult, Sm&aring;land**   
Har tillsammans med sin familj ett ekologiskt lantbruk med inriktning p&aring; lammk&ouml;ttsproduktion.
Lena tilldelas stipendium som en uppmuntran f&ouml;r arbetsinsatser med den
ekonomiska f&ouml;reningen Lokal K&ouml;ttproduktion Kronoberg och dess varum&auml;rke &#8221;Bonnak&ouml;tt &#8211; fr&aring;n
g&aring;rdar i Sm&aring;land&#8221;. En viktig v&auml;g f&ouml;r att m&ouml;jligg&ouml;ra
ekologisk djurproduktion i Kronobergs l&auml;n. 


**Solveig Nilsson, Moheda, Sm&aring;land**   

Driver ett ekologiskt lantbruk med inriktning p&aring; ekologisk b&auml;rodling och f&ouml;r&auml;dling
av dess produkter. Solveig tilldelas stipendium som en uppmuntran f&ouml;r
det stora engagemanget och utvecklingsarbetet som g&ouml;rs f&ouml;r ekologisk
b&auml;rodling.


**Eva Insulander, Boxholm, &Ouml;sterg&ouml;tland**   
Driver ett ekologiskt lantbruk med inriktning p&aring; ekologisk gr&ouml;nsaksodling
i v&auml;xthus och p&aring; friland och f&ouml;r&auml;dling av produkterna. Eva tilldelas
stipendium f&ouml;r att utveckla f&ouml;retaget genom inredning av ett f&ouml;r&auml;dlingsk&ouml;k.
Ett uth&aring;lligt tr&auml;dg&aring;rdsf&ouml;retag som drivits ekologiskt
i &ouml;ver 30 &aring;r! 


**Karin Sj&ouml;stedt, Str&auml;ngn&auml;s, S&ouml;rmland**   
Har ett ekologiskt lantbruksf&ouml;retag med inriktning fr&auml;mst p&aring; v&auml;xthusgr&ouml;dor.
Karin tilldelas stipendium som bidrag till fortsatt forskning och utveckling
av den ekologiska tomatodlingen f&ouml;r att f&aring; fram b&auml;sta m&ouml;jliga
smak. Denna forskning m&ouml;jligg&ouml;rs genom ett v&auml;l fungerande
samarbete med andra ekologiska tomatodlare och r&aring;dgivare. 

<%= stipendiat_year_tag '2005' %>

Detta &aring;r har 80 000 kr f&ouml;rdelats till nedanst&aring;ende personer.
Stipendierna kommer att delas ut under det seminarium som Flory Gates stiftelse
Fred med Jorden anordnar i Alvesta den 12 &#8211; 13 mars. <a href="/aktuellt/seminarium/">L&auml;s mer om seminariet.</a>


**Marie
Johansson, Hattsj&ouml;hult**   
Har tillsammans med sin man, ett KRAV-godk&auml;nt lantbruk med mj&ouml;lkkor
och m&aring;nga andra djurslag. Marie har ocks&aring; en blomster- och gr&ouml;nsaksodling,
d&auml;r hon tar emot s&aring;v&auml;l praktikanter som studiebes&ouml;k.
Stipendiefonden vill genom med detta stipendium uppmuntra till fortsatt engagemang
och utveckling av verksamheten genom hj&auml;lp till det v&auml;xthus som
planeras att byggas. 


**Susanne Velander,  H&ouml;rby**   
Har ett sm&aring;bruk med bl.a. amkor. Susanne engagerar sig bl.a. f&ouml;r ett
gengasseminarium i Sk&aring;ne i sommar och att f&aring; till st&aring;nd
ett alternativ till den vanliga storskaliga slakten. Hon &auml;r ocks&aring; ordf&ouml;rande
i f&ouml;reningen K&auml;rng&aring;rdar. Stipendiefonden vill med detta stipendium
uppmuntra till fortsatt engagemang och utveckling av verksamheten genom hj&auml;lp
till det v&auml;xt- och f&aring;rhus som planeras att byggas. <a href="http://www.karngardar.se" target="_blank">www.karngardar.se</a>


**Katarina Emilsson, S&ouml;derk&ouml;ping**   
Odlar gr&ouml;nsaker och s&auml;ljer sina produkter via
ett prenumerationssystem. I Katarinas f&ouml;retagsid&eacute; ing&aring;r
ocks&aring; att hon h&aring;ller f&ouml;redrag om ekologisk odling. Stipendiefonden
vill med detta stipendium uppmuntra till fortsatt engagemang och utveckling
av verksamheten genom hj&auml;lp till den traktor som planeras att k&ouml;pas.        


**Sara Elfstrand, Uppsala**   
F&aring;r stipendium f&ouml;r att utf&ouml;ra analyser
inom projektet &#8221;Multnande v&auml;xter eller levande r&ouml;tter &#8211; vilka
organismer &auml;ter vad i jordbruksmark och kan kunskap om detta &ouml;ka
v&aring;r f&ouml;rst&aring;else f&ouml;r uth&aring;llig v&auml;xtproduktion?&#8221; Saras
projekt ing&aring;r som delprojektet i Odlingssystemets Ekologi &#8211; Gr&ouml;ng&ouml;dslingsgr&ouml;dor
som ett m&aring;ngfunktionellt &#8221;redskap&#8221; i gr&ouml;nsaksodling
som fick f&ouml;rra &aring;rets forskarstipendium, men f&ouml;r ett annat
delprojekt .

<%= stipendiat_year_tag '2004' %>

**Ann-Charlotte Ottosson, Ugglum, Islanna**, 521 94 Falk&ouml;ping &#8211; f&aring;r
stipendium f&ouml;r att utveckla verksamheten i hon och hennes man Bosses
f&ouml;retag med inriktning p&aring; ekologisk odling och ladug&aring;rdscaf&eacute; /lantk&ouml;k. &Ouml;nskem&aring;let &auml;r
att ytterligare n&auml;rma sig en ekologisk h&aring;llbar verksamhet
genom att byte ut en el-v&auml;rmefl&auml;kt mot en solf&aring;ngare.    

Hemsida: <a href="http://www.islanna.com" target="_blank">www.islanna.com</a>

**Berit Erlandsson, Norrby 60 A, 734 91 Hallstahammar** &#8211; f&aring;r
stipendium f&ouml;r den m&aring;linriktade satsningen p&aring; att utveckla
ekologisk fruktodling i Sverige som hon och hennes man G&ouml;ran bedriver. &Ouml;nskem&aring;let &auml;r
att sprida information om ekologisk frukt till butik-, restaurang- och
grossistpersonal.   

Hemsida: <a href="http;//www.ekofrukt.se" target="_blank">www.ekofrukt.se</a> 

**Lena Zetterholm Jungbeck, HB delikatess och g&aring;rdsupplevelse**
i Kvitsle 255, 830 02 Mattmar &#8211; f&aring;r stipendium f&ouml;r att
utveckla det m&aring;ngfasetterade f&ouml;retaget med ekologisk inriktning,
som omfattar s&aring;v&auml;l odling, gamla lantraser, catering som turism
med lantligt boende. &Ouml;nskem&aring;let &auml;r att bygga v&auml;xthus
f&ouml;r att kunna ut&ouml;ka odlingss&auml;songen.


**Birgitta R&auml;mert, SLU,**
Inst f&ouml;r ekologi och v&auml;xtprod.l&auml;ra,
Box 7043, 75007 Uppsala &#8211; f&aring;r stipendium f&ouml;r best&auml;mning
av mykorrhiza i samodlingsf&ouml;rs&ouml;k 2004 inom projektet Odlingssystemets
Ekologi &#8211; Gr&ouml;ng&ouml;dslingsgr&ouml;dor som ett m&aring;ngfunktionellt &#8221;redskap&#8221; i
gr&ouml;nsaksodling.<a href="/_files/mykorrhiza.pdf"> L&auml;s rapport
i pdf-format 25 KB</a>

<%= stipendiat_year_tag '2003' %>

Detta &aring;r har ca 100 000 kr f&ouml;rdelats till f&ouml;ljande personer:

**Anna Sahlberg och Daniel H&ouml;rberg Bj&ouml;rklund, L&auml;rje&aring;ns Tr&auml;dg&aring;rdar, Angered**   
&#8211; har en biodynamiska handelstr&auml;dg&aring;rd med kaf&eacute;verksamhet och arbetar med att f&ouml;ra ut l&aring;ngsiktiga metoder att bruka jorden, helt i Flory Gates anda. Stipendiet ges f&ouml;r att utveckla f&ouml;retaget som en m&ouml;tesplats f&ouml;r m&auml;nniskor, natur och odling 
i ett av G&ouml;teborgs ytteromr&aring;den, genom att g&ouml;ra den ladan de dipsonerar, anv&auml;ndningsbar &aring;ret runt. 


**Elisabeth Hansson, Bj&auml;rhus, Klippan**    
&#8211; driver tillsammans med sin man Lars ett ekologiskt lantbruk med g&aring;rdsbutik. Stipendiet ges som en uppmuntran i det m&aring;linriktade arbetet med att utveckla detta ekologiska f&ouml;retag och specifikt f&ouml;r att inreda en informations&#8211; och samlingslokal i den nya tillbyggnaden.

**Mari Ryberg, &Aring;smon, N&auml;s&aring;ker**   
&#8211; driver tillsammans med sin man Petter ett ekologiskt lantbruk med inriktning p&aring; ekologiska potatis- och jordgubbsodlingen, k&ouml;ttdjuren och det speciella naturlandskapet som f&ouml;retaget ligger i. Stipendiet ges f&ouml;r den m&aring;linriktade satsning p&aring; att utveckla 
ekologiskt lantbruk genom att &ouml;ka m&ouml;jligheter att f&aring; ut i kunderna till f&ouml;retaget.

**Anuschka Heeb, SLU, Uppsala**   
&#8211; doktorand vid Institutionen f&ouml;r ekologi &amp; v&auml;xtproduktionsl&auml;ra, har beviljats stipendium f&ouml;r fortsatta analyser p&aring; den forskning hon fick medel till f&ouml;rra &aring;ret - &#8221;Betydelsen av g&ouml;dselmedlets kv&auml;veform f&ouml;r utveckling och produktens 
kvalitet som livsmedel&#8221;.   

Rapport:<a href="/_files/Anuschka_Heeb.pdf"> L&auml;s rapport i pdf-format 70 KB</a>

<%= stipendiat_year_tag '2002' %>

**Anna Lilljeqvist, Skifteryds Biodynamiska G&aring;rd, Annerstad**   
f&ouml;r insatser med att utveckla ett b&auml;rkraftigt ekologiskt familjef&ouml;retag, d&auml;r odling, g&aring;rdsbutik och en &ouml;ppen g&aring;rd f&ouml;r bes&ouml;kare utg&ouml;r h&ouml;rnpelarna. Verksamheten &auml;r viktig, ocks&aring; f&ouml;r att sprida information om ekologiskt lantbruk 
i n&auml;romr&aring;det. Stipendiet ges f&ouml;r att i f&ouml;rsta hand utveckla den ekologiska odling genom renovering av ett v&auml;xthus.   
Hemsida: <a href="Http://hem.passagen.se/andervad" target="_blank">hem.passagen.se/andervad</a> 


**Karin Kvarnb&auml;ck, Solberga G&aring;rd, K&ouml;pingsvik**   
f&ouml;r insatser med att odla, f&ouml;r&auml;dla och marknadsf&ouml;ra produkter av ekologisk odling. Stipendietges som en uppmuntran f&ouml;r insatser med att f&ouml;ra ut kunskaper om ekologisk odling genom s&aring;v&auml;l mat som odling.    
Hemsida: <a href="http://www.solberga-gard.com" target="_blank">www.solberga-gard.com</a> 

**Kristina Mattson, V&auml;xtplats Nybyn AB, Rimbo**   
f&ouml;r insatser med att bygga upp och utveckla en mindre handelstr&auml;dg&aring;rd med odling och kulturverksamhet. Vi vill med stipendiet uppmuntra den ut&aring;triktade verksamhet f&ouml;r att informera om ekologisk odling, men ocks&aring; f&ouml;r att ge m&ouml;jlighet att utveckla den ekologiska 
odlingen i f&ouml;retaget.    
Hemsida:<a href="http://www.vaxplatsnybyn.com" target="_blank"> www.vaxplatsnybyn.com</a> 

**Lena Micha&euml;lsson, R&aring;shults S&ouml;derg&aring;rd, Di&ouml;**   
f&ouml;r insatser med att utveckla och bevara en historisk plats och ett kulturlandskap. Vi finner det speciellt viktigt att l&aring;ta R&aring;shult bli en l&auml;nk mellan v&aring;r odlingshistoria och nutida ekologiskt t&auml;nkande med ett l&aring;ngsiktigt ansvarstagande f&ouml;r jorden. 
Stipendiet ges f&ouml;r att utveckla f&ouml;retaget genom att inreda lokaler f&ouml;r utst&auml;llning, f&ouml;rs&auml;ljning och f&ouml;r m&ouml;jligheten att d&auml;r samla bes&ouml;kare. 

**Anuschka Heeb, Inst. f&ouml;r ekologi och v&auml;xtproduktionsl&auml;ra, SLU, Uppsala**   
f&ouml;r forskningsprojekt om &#8221;Betydelsen av f&ouml;rh&aring;llandet mellan kol och kv&auml;ve samt typ av kv&auml;vek&auml;lla p&aring; v&auml;xtens h&auml;lsa och kvalitet&#8221;.    
Rapport: <a href="/rapporter/godselmedel/">L&auml;s en sammanfattning, html-format</a> 

**Artur Granstedt, Stifteslen Biodynamiska Forskningsinstitutet, Skilleby G&aring;rd, J&auml;rna**   
f&ouml;r forskningsprojekt om &#8221;F&ouml;rb&auml;ttrad kv&auml;vehush&aring;llning vid lagring och kompostering av fast stallg&ouml;dsel i biodynamisk och &ouml;vrig ekologisk odling&#8221;.
Rapport: <a href="/_files/granstedt.pdf">L&auml;s rapporten i pdf-format 900 Kb</a>      

**Hanna Friberg, Inst. f&ouml;r ekologi och v&auml;xtproduktionsl&auml;ra, SLU, Uppsala**   
f&ouml;r forskningsprojekt om &#8221;Markbiologiska interaktioner kring klumprotsjuka&#8221;.   
Rapport: <a href="/_files/Klumprotsjuka.pdf">Sammanfattning i pdf-format, 176 KB</a> 

**Annette Tingstad, Den Kgl Veterinaer- og Landboh&oslash;jskole, Kemiska Institut, Frederiksberg, DK**   
som st&ouml;d f&ouml;r bokutgivning av doktorsavhandlingen om &#8221;Kvalitet og metode- med udgangspunkt i stigbilleder til kvalitetsvurdering af f&oslash;devarer&#8221;.   

Rapport: <a href="/rapporter/kvalitet">L&auml;s en sammanfattning, html-format </a> 

**Christl Kamp-Ohlsson, Nabov&auml;gen 1, M&ouml;rsil**   
f&ouml;r initiativet och engagemanget med att utveckla Kretsloppshuset med bl.a. ett pedagogiskt utvecklingscentrum.       

**Karen Borup &#8211; J&ouml;rgensen, H&ouml;g&aring;s Getag&aring;rd, Vindeln**   
f&ouml;r utveckling av ekologisk geth&aring;llning, f&ouml;retaget &auml;r inriktad p&aring; biodynamisk geth&aring;llning och osttillverkning. 

**Elisabeth Hansson, Bj&auml;rhus, Klippan**   
f&ouml;r att utveckla ett b&auml;rkraftigt ekologiskt familjef&ouml;retag och speciellt f&ouml;r nyinvesteringar i g&aring;rdsbutiken. F&ouml;retaget &auml;r inriktad p&aring; gr&ouml;nsaksodling, f&aring;r och g&aring;rdbutik.    
Hemsida: <a href="http://www.bjarhus.se" target="_blank">www.bjarhus.se</a> 

**Lisbeth Linse, Ribbingelund, Bj&ouml;rk&auml;ngen, &Auml;rla**   

f&ouml;r en f&ouml;rstudie om forskning om livsmedelsr&aring;varors inneh&aring;ll av bor som en kvalitetsfaktor med avseende p&aring; odlingssystem och animala/humana biologiska funktioner.

<%= stipendiat_year_tag '2001' %>

Christl Kamp-Ohlsson, Mörsil
Beate Leggedör, Arby, Vassmolösa
Maria Karlsson, Mällby, Hjälteby
Karen Borup-Jörgensen, Högås, Vindeln
Liv Ekerwald, Ås Trädgård, Ås
Ylwa Sjelin, Hånsta Östergärde, Vattholma
Elisabeth Hansson, Bjärnhus, Klippan
Lisbeth Linse, Ärla


<%= stipendiat_year_tag '2000' %>

**Ebba-Maria Olson, Mossag&aring;rden, Veber&ouml;d**   
f&ouml;r att utveckla en marknadsf&ouml;ringsid&eacute; att s&auml;lja ekologiskt odlade gr&ouml;nsaker direkt till konsument i ett prenumerationssystem. 

**Lena Charpentier, Kasby g&aring;rd, Knivsta**   
f&ouml;r utveckling av sm&aring;skalig ekologisk &auml;ggproduktion och arbete inom den ekologiska fj&auml;derf&auml;branschen. 

**Lotte Palm, Klinta Kryddor &amp; Gr&ouml;nt, H&ouml;&ouml;r**   
f&ouml;r att utveckla och informera om ekologisk odling i sitt f&ouml;retag, som har tonvikt p&aring; krydd- och gr&ouml;nsaksodling och g&aring;rdbutik med caf&eacute; verksamhet. 

**Solmarka g&aring;rd, Rut Doppelstadt, Vassmol&ouml;sa**   
f&ouml;r att markkartera g&aring;rden, som sedan m&aring;nga &aring;r odlas biodynamiskt med allsidig drift. Markartering finns sedan 70-talet. 

**Annette Tingstad, Den Kgl Veterinaer- og Landboh&oslash;jskole, Kemiska Institut, Frederiksberg, DK**   
som st&ouml;d f&ouml;r bokutgivning av doktorsavhandlingen om &#8221;Kvalitet og metode- med udgangspunkt i stigbilleder til kvalitetsvurdering af f&oslash;devarer&#8221;.    

Rapport: <a href="/rapporter/kvalitet">Sammanfatning</a><a href="/rapporter/kvalitet/"> i html-format</a> 

**Bengt Lundeg&aring;rdh, SLU, Uppsala**   
f&ouml;r forskning om odlingssystemets betydelse f&ouml;r inneh&aring;llet av vitamin B12 i h&ouml;stvete.   
Rapport:<a href="/_files/lundegard.pdf"> L&auml;s rapporten i pdf-format 60 KB</a>

**Lena G&auml;redal, SLU, Uppsala**   
f&ouml;r forskning om ympningens inverkan p&aring; tomaternas smak i ett ekologiskt odlingssystem 

**Svensk Ekocentrum Konsult**   
till en f&ouml;rstudie inf&ouml;r ett rikst&auml;ckande projekt &#8221;Marknadsf&ouml;ring och koordination av n&auml;rodlade ekologiska livsmedel&#8221;.   
Hemsida: <a href="http://www.swedenviro.com/ekocentrum/%20Rapport1998" target="_blank">http://www.swedenviro.com/ekocentrum/</a>   
Rapport: <a href="/rapporter/eko_nara/">Sammanfattning, html-format</a>

**Lena &Aring;kerblom, H&aring;rderup 4, Vollsj&ouml;**   
f&ouml;r att utveckla och informera om ekologisk produktion av mj&ouml;lk. Lena har ocks&aring; studerat homeopati f&ouml;r husdjur. 

**Madeleine Lindqvist, J&auml;ders Tr&auml;dg&aring;rd, Arboga**   
f&ouml;r utveckling av ekologisk odling genom den gammal brukstr&auml;dg&aring;rd, hon rustat upp d&auml;r hon f&ouml;rutom odling ocks&aring; har en mycket ut&aring;triktad verksamhet s&aring;som bes&ouml;k av skolklasser och musikevanemang. Arbetar nu (2002) som tr&auml;dg&aring;rdsm&auml;stare 
p&aring; M&aring;ltidens Hus i Grythyttan. 

**Mari H&aring;kansson, Mickelsg&aring;rds, N&auml;r, St&aring;nga**   
f&ouml;r utveckling av och information om ekologiskt lantbruk genom den ekologisk gr&ouml;nsaksodling hon driver tillsammans med sin man, p&aring; Gotland. Mari f&ouml;r ut tankarna om ekologiskt lantbruk genom att ta emot studiebes&ouml;k, tr&auml;ffa konsumenter i butiker m.m. 

**Susanne Wiigh - M&auml;sak, Barkedal, Lyr&ouml;n, N&ouml;sund**   
f&ouml;r utveckling av och information om ekologiskt odling genom sin ekologiska handelstr&auml;dg&aring;rd, handelsbod och caf&eacute; p&aring; Lyr&ouml;n. D&auml;r visar hon ocks&aring; p&aring; milj&ouml;nv&auml;nliga s&auml;tt att ta hand om organiskt material. Hon f&ouml;r p&aring; ett aktivt 
s&auml;tt ut tankarna om att v&auml;rna milj&ouml;n.    
[Promessa](promessa.se)

**Sofia Stjernl&ouml;f, Kedjeb&auml;ck, Sandhamn, Torshamn**   
f&ouml;r utveckling av och information om ekologiskt odling genom sin ekologisk potatis- och gr&ouml;nsaksodling utanf&ouml;r Karlskrona,d&auml;r hon ocks&aring; tar emot m&aring;nga studiebes&ouml;k. 
&#8221;2000 startade jag &quot;Gr&ouml;nsakerdirekt i Blekinge&quot; som s&auml;ljer gr&ouml;nsaksprenumerationer &ouml;ver internet. Jag jobbar ihop med Bo Svensson och Anders Andersson med detta. 2001 flyttade jag och min familj till en ny g&aring;rd. 2003 har jag 8 ha KRAVgodk&auml;nt. 2002 
fick jag Rambergstipendiet av LRF och jag, Anders och Bosse fick dela p&aring; Karlskrona Kommuns milj&ouml;pris 2002&#8221;.    

Hemsida: <a href="http://www.gronsakerdirekt.nu" target="_blank">www.gronsakerdirekt.nu</a> 

<%= stipendiat_year_tag '1998' %>

**Madeleine Lindqvist, Jäders Trädgård, 732 96 Arboga**   
**Mari Håkansson, Mickelsgård, När, 620 13 Stånga**   
**Gun Svensson, Tinatorp, 355 93 Växjö**   
**Susanne Wiigh-Mäsak, Barkedal 7747, Lyrön, 474 96 Nösund**   
**Kersin Pålsson, Vestli Fokhol Gård, N-2310 Stange, Norge**   
**Sonja Stjernlöf, Sofiero, Trollemåla, 371 92 Karlskrona**   
**Lena Åkerblom, Hårderup 4, 270 33 Vollsjö**   
**Gunilla Strandå, Triberga 3340, 380 62 Mörbylånga**   
**Birgitta Hultqvist / Elisabeth Johansson / Sara Larsson, Brännö**   

<%= stipendiat_year_tag '1997' %>

**IngMarie/Ann-Sofi Johansson, Hargs Gård, 590 40 Kisa**   
**Lotte Palm, Klinta, 243 95 Höör**   
**Ulla Inge, Ekolanda Gård, 740 20 Vänge**   
**Anne-Marie Johansson, Åsta, 732 98 Arboga**   
**Lotten Westberg, Panneröd 9589, 444 97 Svenshögen**   
**Pia Johansen, "Bondegården", Frederiksdal, DK - 8620 Kjellerup**   
**Marie Utterhäll, Hälla, Störgård, 614 90 Söderköping**   
**Kia Gabrielsson, Mössbröten, DärSö, 686 96 Ö:a Ämtervik**   
**Kerstin Beling-Holmqvist, Staby 180, 442 72 Kärna**   
**Ingrid Larsson, Lögen 5050, 453 92 Lysekil**   

**Gunn-Britt Larsson, &Auml;rentuna, 743 91 Storvreta**   
bedriver eko-lantbruk med h&auml;sth&aring;llning och &auml;ggproduktion i liten skala samt brukar den skog som h&ouml;r till g&aring;rden. Just nu f&ouml;rb&auml;ttras stallmilj&ouml;n. N&auml;r det &auml;r klart ska h&ouml;nsh&aring;llningen ut&ouml;kas. 

**Fie Graugaard, Resenbrovej, Silkeborg, Danmark**   
har grisproduktion inkl f&ouml;r&auml;dling       

<%= stipendiat_year_tag '1996' %>

**Ursula Urbansdotter, Stensäter, 617 90 Skärblacka**   
**Solveig Petterson/Mona Samuelsson, Nysätre, Stentorp, 740 82 Örsundsbro**   
**Mia Jonsson/Mia-Maria Lindmark, Kvigerätt 5729, 386 95 Färjestaden**   
**Agneta Jonsson, Vomb, 240 14 Veberöd**   
**Johanna Martin-Löf, Järna**   
**Agneta Månsson, Vassbo Trädgård, 791 93 Falun**   

<%= stipendiat_year_tag '1995' %>

**Lena-Britt Gustafsson, Karstorp, 578 92 Aneby**   
**Astrid Mårtensson, Björnbärsgatan 1A, 234 43, Lomma**   
**Karin Andersson, Värends Nöbbele, 360 44 Ingelstad**   
**Barbro Adielsson/Johnny Andréasson, Känstorp 7368, 444 93 Spekeröd**   
**Helen Persson, G:a Tjutebrov. 368, 260 30 Vallåkra**   
**Ulla Niklarsson, Ubbhult Gunnagård 652, 430 64 Hällingsjö**   
**Ingrid Danielsson, Parboäng gård, 380 65 Degerhamn**   
**Karin Sj&ouml;stedt, Asp&ouml;,Hornudden, Str&auml;ngn&auml;s**   

Ekologisk gr&ouml;nsaksodling i v&auml;xthus, fr&auml;mst tomater i varierande form, f&auml;rg och storlek. Dessutom odlas bla. tomatplantor, kryddor, slanggurka, basilika, paprika, solrosskott och m&aring;nga olika sorters sallad i l&ouml;svikt. Fr.o.m sommaren 2003 hyr vi &auml;ven ut v&aring;r 
sj&ouml;stuga.    
Hemsida: <a href="http://www.hornudden.net" target="_blank">www.hornudden.net</a> 

<%= stipendiat_year_tag '1994' %>

**Anette Tingsted, Kgl Veterinaer- og Landbohøjskole, Kemiska Institut, Frederiksberg, DK**   
**Pauliina Riit'aho, Åkarp**   
**Eva Johnsson, Gylle, Trellborg**   
**Mary Stolpe, Alby**   
**Anna-Maj Hermansson, Wandt, Visby numera Lund**   
**Anja Bergman, Torpshammar**   
**Lena Karlsson, Kvarnåkern, Urshult**   

<%= stipendiat_year_tag '1993' %>

**Marie Johansson, Hattsjöhult, 570 20 Bodafors**   
**Anette Tingsted, Kgl Veterinaer- og Landbohøjskole, Kemiska Institut, Frederiksberg, DK**   
**Kari Örjavik, Torfolks gård, Munkfors**   
**Marianne Olsson, Mossagården, 240 14, Veberöd**   
**Ane Bodil Sogaard, Kuhlersgade 27, DK - 1774 Kobenhavn**   
**Hillevi Rundström, Sundviks trädgård, 180 23 Ljusterö**   
**AnnMari Henriksson, Hylkan, 272 92 Simrishamn**   
**Catarina Gardell Nilsson, Tångagård, Lastad, 311 95 Falkenberg**   
**Lena Bergström-Hjelte, Gammelbo Gård, 711 98 Ramsberg**   
**Marianne Schönning, Härnebo 8363, 823 92 Holmsveden**   
**Bodil S&oslash;gaard, Danmark forskare.**   

<%= stipendiat_year_tag '1991' %>

**Vonne Lund, R&ouml;jer&aring;sen, Vikarbyn**   
Litteraturs&ouml;kning och att p&aring;b&ouml;rja litteraturstudier i &auml;mnet    
Relationen husdjur - m&auml;nniska.   

Ethics and animal welfare in organic animal husbandry - Vonne Lunds doktorsavhandling, i svensk sammmanfattning: <a href="/_files/Animal%20welfare_sv.pdf">pdf-format 156 KB</a> 

<%= stipendiat_year_tag '1990' %>

**Ingrid Munro, Sk&auml;llands&ouml;,S&ouml;derg&aring;rd, Vittaryd**   
&#8221;1985 bliv jag KRAV registrerad och har odlat ekologiska gr&ouml;nsaker till f&ouml;rs&auml;jlning sen dess. Samma &aring;r som jag fick stipendiet, 1991, k&ouml;pte jag en g&aring;rd vid sj&ouml;n Bolmen, och det &auml;r den som jag, min man och 2 barn bor p&aring; och driver nu.

**Ann-Charlott Ottosson, Islanna, Falk&ouml;ping**   
har en gr&ouml;nsaksodling och ett &#8221;ladug&aring;rdscaf&eacute; &#8221;

### Saknad eller till&auml;gg?

Tidigare stipendiater som inte &auml;r med p&aring; denna lista eller &ouml;nska &auml;ndra
p&aring; texten om sig, kan skriva till <a href="mailto:karin.sahlstrom@swipnet.se.">karin.sahlstrom@swipnet.se.</a>
